/* Home Page ------------------------------- */

.homePage{
    padding: 40px;
}

@media (min-width: 768px) {

.homePage{
    padding: 20px;
}
}

.sectionPageintro {
    padding: 20px;
    padding-left: 3vw;
    border-bottom: 5px dashed rgb(197, 198, 180);
}

.pageSection {

    padding-left: 3vw;
}

.homePage h1 {
    font-size: 8em;
    padding-bottom: 0.6em;
    margin: 0.3em 0 0 0;
}


.homePage h1 b {
    font-size: calc(1em + 10vmin);
    line-height: 0.8em;
    font-weight: 900;

    --x-offset: -0.0625em;
    --y-offset: 0.0625em;
    --stroke: 0.025em;
    --background-color: white;
    --stroke-color: rgb(197, 198, 180);

    text-shadow:

        var(--x-offset) var(--y-offset) 0px var(--background-color),

        calc(var(--x-offset) - var(--stroke)) calc(var(--y-offset) + var(--stroke)) 0px var(--stroke-color);

}

.homePage h2 {
    font-size: 4em;
    padding-bottom: 1vh;
}

.homePage h3 {
    font-size: 2em;
    padding-bottom: 3vh;
    font-family: 'Roboto Slab', serif;
}


.homePage h4 {
    font-size: 1.3em;
    text-transform: u;
    padding-bottom: 5vh;
    border: 3px dashed #5a5b57;
    border-radius: 4px;
    background-color: #f9f8e3;
    padding: 1.2em;
    font-family: monospace;
}


.homePage p {
    font-size: 20px;
    line-height: 150%;
    font-family: Arial, sans-serif;
    max-width: 70vw;
    color: #444;
    font-style: normal;
    text-align: justify;
}

/* Home Page [SECTION: Links] ------------------------------- */
#homePageLinks {
    padding: 10px 30px;
    background-color: black;
    color: #e2e5be;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flexitem {
    background-color: #e2e5be;
    margin: 1%;
}


/* Portfolio Page ------------------------------ */


.flexGallery {
    display: flex;
    flex-wrap: wrap;
}

.flexGallery .flexitem {
    min-width: 250px;
    min-height: 250px;
    margin: 20px;
}



